html, body{
    height:100%;
    background-color: white;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    box-shadow: inset 0 0 1rem rgba(0,0,0,.1);
}
.site-wrapper-inner {
    display: table-row;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


/*
 * Header
 */

.masthead {
    margin-bottom: -1rem;
}

.masthead-brand {
    margin-bottom: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: dimgray;
    margin-left:auto;
    margin-right:auto;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    /*color: rgba(255,255,255,.5);*/
    color: dimgray;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-add + .nav-add {
    margin-left: 1.5rem;
}

.nav-masthead .active {
    color: orangered;
    border-bottom-color: orangered;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.nav-masthead{
    padding-top: 20px;
    padding-right: 20px;
}

hr.hr-main{
    height: 30px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 1px 0 0 0;
    border-radius: 20px;

}

hr.hr-main:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #8c8b8b;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

hr.hr-footer{
    border: 0;
    height: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.lead{
    font-size: 1rem;
}

.sb-header{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color:dimgray;
}

img.sketch{
    display:block;
    margin:auto;
}

.arrow-container{
    height:inherit;
    width:inherit;
    overflow:auto;
}

.arrow-wrapper i{
    /*display:block;*/
    color:black;
    font-size:3em;
}
.arrow-wrapper small{
    color:black;
    display:block;
}
.arrow-wrapper{
    float:right;
}
.arrow-wrapper i:hover{
    color:dimgray;
}


.arrow-left i{
    /*display:block;*/
    color:black;
    font-size:3em;
}
.arrow-left small{
    color:black;
    display:block;
}
.arrow-left{

    float:left;
}
.arrow-left i:hover{
    color:dimgray;
}
/*.arrow-wrapper small:hover{*/
    /*text-decoration: none;*/
    /*color:dimgray;*/
/*}*/
